body,
html {
    background: #9866ff;
    margin: 0;
    padding: 0;
}

* {
    font-size: 0;
    box-sizing: border-box;
}

#localCamera {
    position: absolute;
    vertical-align: middle;
    align-self: center;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.4);
    background: #fff;
    animation: show 0.4s ease;
    overflow: hidden;
    border-radius: 10px;
    top: 0px;
    left: 0px;
    /*bottom: 10px;*/
    /*right: 10px;*/
    cursor: move;
    z-index: 9;
}

#localVideo {
    width: 160px;
    height: 120px;
}

#remoteCameras {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    bottom: 200px;
    top: 0px;
    right: 0px;
}

#remoteCameras div {
    position: relative;
    vertical-align: middle;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.4);
    background: #fff;
    animation: show 0.4s ease;

}

.remoteCamera {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.remoteVideo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: inline-block;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.4) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}